---
name: Pull Request
env:
  PROJECT_NAME: raki-aws
on:
  pull_request:
    branches: [main]
jobs:
  check_yaml_files:
    name: Check YAML files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@master
      - name: Run Yamllint check
        uses: karancode/yamllint-github-action@master
        with:
          yamllint_file_or_dir: ./k8s
          yamllint_strict: true
          yamllint_comment: true
          yamllint_config_filepath: ./k8s/.yamllint
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  check_kustomize:
    name: Run kustomize checks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: [production]
    steps:
      - name: Checkout source code
        uses: actions/checkout@master
      - name: Run kustomize build
        uses: karancode/kustomize-github-action@master
        with:
          kustomize_version: '3.0.0'
          kustomize_build_dir: ./k8s/overlays/${{ matrix.environment }}
          kustomize_comment: true
          enable_alpha_plugins: true
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_ACCESS_TOKEN }}
  pulumi_preview:
    name: Pulumi Preview
    runs-on: ubuntu-latest
    needs: [check_yaml_files, check_kustomize]
    permissions:
      id-token: write
      contents: read
    strategy:
      matrix:
        stack: [bootstrap, production]
    steps:
      - name: Checkout source code
        uses: actions/checkout@master
      - name: Get AWS Region
        id: get_aws_region
        uses: mikefarah/yq@master
        with:
          cmd: yq '.config."aws:region"' "./aws/Pulumi.${{ matrix.stack }}.yaml"
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ steps.get_aws_region.outputs.result }}
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-session-name: rakiawspipeline
      - name: Setup Node version
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Install project dependencies
        run: yarn install
      - name: Run Pulumi Preview
        uses: pulumi/actions@v3
        with:
          command: preview
          work-dir: ./aws
          stack-name: ${{ matrix.stack }}
          comment-on-pr: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cloud-url: ${{ secrets.PULUMI_BACKEND_URL }}
          refresh: true
        env:
          PULUMI_CONFIG_PASSPHRASE: ${{ secrets.PULUMI_CONFIG_PASSPHRASE }}
